@class
<b> #__CONTROL_NAME__# </b> <br>
<i> #__CONTROL_DESCRIPTION__#</i>

<br>
<br>
Supported settings are:
<ul>
<li>Properties
    <ul>#__PROPERTIES__#</ul>
</li>
<li>Aggregations
    <ul>#__AGGREGATIONS__#</ul>
</li>
<li>Associations
    <ul>#__ASSOCIATIONS__#</ul>
</li>
<li>Events
    <ul>#__EVENTS__#</ul>
</li>
</ul>
<br>
In addition, all settings applicable to the base type {@link #__BASE_CLASS__#} can be used as well.

@extends #__BASE_CLASS__# 

@author #__AUTHOR__#
@version #__VERSION__#

@public
@alias #__CONTROL_NAME__# 